.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.calculator {
  background-color: lightslategray;
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 475px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the calculator horizontally */
  padding-top: 25px;
  padding-bottom: 25px;
}

.display {
  background-color: white;
  border: solid;
  width: 400px;
  height: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  padding: 10px;
}

#clear {
  width: 200px;
  
}

.button {
  background-color: darkgray;
  border: none;
  color: black;
  padding: 20px 10px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: lightgray;
}

.button:active {
  background-color: gray;
}

.operator {
  background-color: orange;
}